<div class="row">
  <div class="col-4 border-right ">
    <h3> Shelves </h3>
    <ul>
      <li *ngFor="let shelf of shelves">
        <a [routerLink]="['/shelf', shelf.id]" routerLinkActive="active" >{{shelf.name}}</a><br/>
      </li>
    </ul>
    <button (click)="add_shelf()" class="btn btn-primary">+</button>
    <div *ngIf="addshelf">
      <form [formGroup]="addshelf_form">
        <div class="form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" class="form-control" id="name"  placeholder="Name of Shelf"/>
        </div>
        <div class="form-group">
          <button (click)="save_shelf()" class="btn btn-primary">Add shelf</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-8">
    <p>
      <router-outlet> </router-outlet>
    </p>
  </div>
</div>


