<div class="row">
  <div class="col-4 border-right ">
    <h3> Books </h3>
    <app-book-list></app-book-list>
  </div>
  <div class="col-8">
    <p>
Macintosh Internet VIP Protection Drill MITM Coast Guard ssa CIS AQAP
CANSLO Internet Psyops Chemical Macintosh Firewalls MARTA SIN
Ammonium nitrate industrial espionage NACSI USDOJ Pine Gap MF IED
ninja COS clandestine Service disruption Dateline OAU S Key CDMA
NATIA password underground Jyllandsposten Oscor DJC Delays Drug war
Plume FEMA Influenza GCHQ kilderkin Meth Lab SAP
ammunition Macintosh Firewalls Biological infection Drug trade ESN
XS4ALL chameleon man Chemical weapon Gunfight Armani kibo Lebed NOCS
eternity server DEA
    </p>
  </div>
</div>
